// current theme defaults
$mat-light-theme-background: (
  status-bar: map-get($mat-grey, 300),
  app-bar: map-get($mat-grey, 100),
  background: map-get($mat-grey, 50),
  hover: rgba(black, 0.04),
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map-get($mat-grey, 300),
  selected-disabled-button: map-get($mat-grey, 400),
  disabled-button-toggle: map-get($mat-grey, 200),
  unselected-chip: map-get($mat-grey, 300),
  disabled-list-option: map-get($mat-grey, 200),
  tooltip: map-get($mat-grey, 700),
);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);
// end defaults

$oc-light-primary: mat-palette($oc-green, 500, 300, 800);
$oc-light-accent: mat-palette($oc-green, 500, 300, 800);
$oc-light-warn: mat-palette($oc-scarlet);

$oc-light-theme: mat-light-theme(
  $oc-light-primary,
  $oc-light-accent,
  $oc-light-warn
);
